#header{
	 
    background-repeat: repeat-x;
    background-color:#90c31f;
    height: 30px;
    width: 100%;
    z-index: 1000;
}
.clearfix:after {
    content: "\0020";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.head {
    font-family: 'tahoma','arial','\5b8b\4f53';
    color: #fff;
    margin: 0 auto;
    width: 980px;
}
.f-w1190 {
    width: 1190px;
    margin: 0 auto;
}
.city {
    float: left;
    line-height: 30px;
    height: 30px;
    margin-right: 15px;
    padding-left: 15px;
}
.city a.fc-city {
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
}
.head-m {
    float: left;
   
}

ul {
    list-style: none;
}
.head-r {
    float: right;
    padding-right: 15px;
}

.reg-login {
    background-position: 0 -50px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    position: relative;
    z-index: 1000;
}
.f-fl {
    float: left;
}
 #header a {
	text-decoration: none;
	color: white;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.column {
    display: inline-block;
   
    padding:5px 14px;
}
#logo{
	margin-left: 180px;
	float: left;
}
.ss{
	float: left;
	margin-left: 380px;
 	 margin-top:20px; 
}
 
.search input[type=text]
{
width: 450px; 
height: 30px; 
border: 2px solid red; 
float: left;
}
.search input[type=button]{
			background:url("../img/suosou.png") no-repeat; 
			width: 50px;
		 	height:38px;
		 	padding-bottom: 6px; 
		 	overflow: hidden; 
		 	border: none;
		 	}